.ww_dialog_body_search input {
	width: 86%;
	float: left;
	padding: 5px;
}
.ww_inputText {
	width: 220px;
	font-size: 14px;
}

/* .ww_dialog_body_search {
	padding: 20px 24px 0;
} */

.ww_inputText:hover {
	border-color: #A0AAB4;
}

.ww_inputText {
	font-size: 12px;
	word-break: keep-all;
	white-space: nowrap;
}

.ww_dialog_body input {
	display: inline;
}

.ww_inputText {
	font-size: 12px;
	word-break: keep-all;
	white-space: nowrap;
}

.qui_inputText {
	height: 18px;
}

.qui_inputText,.qui_textarea {
	display: block;
	width: 240px;
	line-height: 18px;
	padding: 3px 6px;
	background: #fff;
	border: 1px solid #C7C7C7;
	border-radius: 2px;
	box-sizing: content-box;
}

.qui_btn,.qui_inputText,.qui_textarea {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
}

.ww_inputText,.ww_table_TextEllipsis td,.ww_table_td_TextEllipsis {
	word-wrap: normal;
}

input,textarea {
	margin: 0;
	padding: 0;
	border: 0;
}

button,input,select,textarea {
	font-size: inherit;
}

body,button,input,select,textarea {
	font-family: "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB",
		STHeiti, "Microsoft YaHei", sans-serif;
	outline: 0;
	-webkit-text-size-adjust: none;
}

.msg_filePanel_itemWrap,a,button,input,select,textarea {
	-webkit-tap-highlight-color: transparent;
}

input:not  ([type]  ),input[type="email" i],input[type="number" i],input[type="password"
	i],input[type="tel" i],input[type="url" i],input[type="text" i] {
	padding: 1px 0px;
}

input {
	-webkit-appearance: textfield;
	background-color: white;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto;
	padding: 1px;
	border-width: 2px;
	border-style: inset;
	border-color: initial;
}

input,textarea,keygen,select,button {
	text-rendering: auto;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	margin: 0em 0em 0em 0em;
	font: 13.3333px Arial;
}

input,textarea,keygen,select,button,meter,progress {
	-webkit-writing-mode: horizontal-tb;
}

.ww_dialog_body {
	padding: 24px;
	font-size: 14px;
	position: relative;
}

body,button,input,select,textarea {
	font-family: "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB",
		STHeiti, "Microsoft YaHei", sans-serif;
	outline: 0;
	-webkit-text-size-adjust: none;
}

body {
	font-size: 12px;
	line-height: 1.5;
	background: #e9eaeb;
	color: #000;
}

body {
	-webkit-font-smoothing: antialiased;
}



.ww_icon,.ww_indexImg {
	display: inline-block;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
}

.ww_inputText {
	width: 90%;
}

.ww_dialog_body_result_holder {
	text-align: center;
	margin-top: 94px;
	width: 100%;
}

.ww_dialog_body_result_tip {
	position: relative;
	text-align: center;
	color: #787878;
	font-size: 12px;
	border-top: 1px solid #E4E6E9;
	height: 9px;
}

.ww_dialog_body_result {
	position: relative;
	margin-top: 31px;
	height: 355px;
}

.ww_dialog_body_result_item li {
	padding: 0px;
	font-size: 13px;
	border-bottom: 1px solid #E4E6E9;
	width: 100%;
	padding-left: 20px;
}

.ww_dialog_body_result_tip span {
	position: absolute;
	left: 50%;
	margin-left: -43px;
	width: 86px;
	background: #FDFDFD;
	margin-top: -9px;
}

.ww_dialog_body_result_item {
	overflow-y: auto;
	overflow-x: hidden;
	height: 345px;
	cursor: pointer;
}

li,ol,ul {
	list-style: none;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

fieldset,ol,ul {
	margin: 0;
	padding: 0;
}

.ww_dialog_body_showMap_can_mask {
	position: absolute;
	left: 15;
	bottom: 0;
	height: 45px;
	width: 95%;
	background-color: #000;
	background-color: rgba(0, 0, 0, .8);
}

.ww_dialog_body_showMap_can_mask_address {
	margin-top: 3px;
	color: #FFF;
	font-size: 14px;
}

.attendDlg_bottomBarAppend {
	overflow: auto;
	width: 100%;
	height: 350px;
	background-color: rgba(0, 0, 0, .9);
}

.ww_dialog_body_showMap_can_mask {
	font-size: 12px;
}

.attendDlg_bottomBar {
	height: 48px;
	border-bottom: 1px solid #555;
}

.attendDlg_bottomBarAppend_itemTitle,.attendDlg_bottomBarAppend_itemDetail
	{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	word-break: break-all;
	word-wrap: normal;
}

.attendDlg_bottomBarAppend_itemTitle {
	color: #fff;
	margin-top: 5px;
}

.attendDlg_bottomBarAppend_itemDetail {
	color: #787878;
	height: 20px;
	margin-top: 0px;
}

.attendDlg_bottomBarAppend li {
	padding: 0 10px;
	border-bottom: 1px solid #555;
	height: 40px;
	cursor: pointer;
}

.js_qqmap_title {
	margin-left: 10px;
}

.attendDlg_bottomBar_arrowDown,.attendDlg_bottomBar_arrowUp {
	float: right;
	width: 56px;
	border-left: 1px solid #555;
	height: 100%;
	cursor: pointer;
	position: relative;
}

.attendDlg_bottomBar_arrowDown:before,.attendDlg_bottomBar_arrowUp:before
	{
	position: absolute;
	top: 30%;
	left: 50%;
	margin-left: -7px;
}

.attendDlg_bottomBar_arrowDown:before,.attendDlg_bottomBar_arrowUp:before
	{
	display: block;
	content: " ";
	width: 0;
	line-height: 0;
	font-size: 0;
	border-style: solid;
	border-color: transparent;
}

.attendDlg_bottomBar_arrowDown:before {
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 14px solid #fff;
}

.attendDlg_bottomBar_arrowUp:before {
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 14px solid #fff;
}

.ww_dialog_body_showMap_can_tips {
    color: #787878;
    font-size: 12px;
    margin-top: 15px;
}
.ww_dialog_body_showMap_can_tips_mark {
    color: #f05a5a;
    margin-right: 3px;
}
.ww_dialog_body_showMap_can_tips,.ww_btnWithMenu {
    margin-right: 2px;
}
.ww_btnWithMenu {
    display: inline-block;
    position: relative;
}

.ww_dialog_body_result_item_detail {
    color: #787878;
    margin-top: 0px;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.ww_dialog_body_showMap_can_mask_detail {
    color: #787878;
    margin-left: 10px;
}

/*
.ww_btn_Dropdown {
    position: relative;
    padding-right: 20px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
*/
#allmap {
	width: 100%;
	height: 80%;
	overflow: hidden;
	margin: 0;
	font-family: "Î¢ÈíÑÅºÚ";
}